/* GENERALES */

:root {
  --global-font-size: 16px;
  --medium-font-size: 23px;
  --red-color: #e50914;
  --white-color: #fff;
  --grey-color: #8c8c8c;
  --black-color: #000;
  --dark-grey-color: #303030;
  --margin-center: 0 auto;
}

html {
  zoom: 75%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--global-font-size);
  background-color: var(--black-color);
  margin: 0;
  color: var(--white-color);
}

a {
  text-decoration: none;
}

nav {
  float: right;
}

header {
  position: relative;
  z-index: 2;
  min-height: 600px;
}

/* NAVBAR */
.header__logo {
  width: 133px;
  height: 36px;
  padding: 28px 55px;
}

.boton {
  border-radius: 3px;
  color: var(--white-color);
  background-color: var(--red-color);
  padding: 7px 17px;
}

.boton__login {
  margin: 28px 55px;
  display: inline-block;
}

/* FORMULARIO */

.titulo {
  font-size: 50px;
  margin: var(--margin-center);
}

.subtitulo {
  font-size: var(--medium-font-size);
  font-weight: normal;
  margin: 16px auto;
}

.header__form {
  text-align: center;
}

.header__contenido {
  max-width: 640px;
  margin: 85px auto;
  margin-bottom: 0;
}

.formulario__email {
  width: 400px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px var(--grey-color);
  border-radius: 2px;
}

.boton--grande {
  padding: 12px 35px;
  font-size: var(--medium-font-size);
  position: relative;
  top: 3px;
  left: -5px;
}

.titulo--sm {
  font-size: 19px;
  font-weight: normal;
  margin-top: 10px;
}

article .titulo--sm {
    display: inline-block;
  }

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 700px;
}

.fondo__imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fondo--degradado {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

/* ARTICULO 1*/

article {
  border-bottom: 8px solid #222;
}

article:nth-child(3) {
  margin-top: 100px;
  border-top: 8px solid #222;
}

.section__contenido {
  max-width: 60%;
  margin: 25px auto;
  padding-bottom: 50px;
}

.columna {
  width: 40%;
  display: inline-block;
}

.columna:first-child {
  margin-right: 10%;
}

.section__imagen {
  width: 100%;
}

.section__video {
  width: 73%;
  position: absolute;
  top: 75px;
  left: 64px;
}

.section__animation {
  position: relative;
  top: 55px;
}

.video {
  width: 100%;
  height: 100%;
}

/* ARTICLE 2*/

.section__descarga {
  padding: 0.5em 0.75em;
  align-items: center;
  width: 62%;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.75em;
  text-align: justify;
  position: relative;
  background-color: var(--black-color);
  top: -115px;
  left: 65px;
}
.section__imagen--small {
  height: 55px;
  display: inline-block;
}

.section__informacion {
  display: inline-block;
  text-align: center;
  margin-left: 30px;
  position: relative;
  top: -10px;
}

.texto--minimo {
  font-size: var(--global-font-size);
  color: var(--white-color);
  font-weight: 600;
  margin: 0;
}

.texto--azul {
  color: #0071eb;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.section__telefono {
  position: relative;
  top: 90px;
}

/*ARTICLE 3*/
.section__dispositivos {
  top: 31px;
  width: 61%;
  left: 86px;
  z-index: -1;
}

/*ARTICLE 4*/

.faq {
  width: 80%;
  margin: var(--margin-center);
  text-align: center;
  margin-top: 40px;
}

.faq__lista {
  margin: 16px auto;
  max-width: 815px;
}

.faq__objeto {
  list-style: none;
  margin: 0 0 8px 0;
}

.boton--faq {
  padding: 0.8em 2.2em 0.8em 1.2em;
  position: relative;
  width: 100%;
  border: 0;
  text-align: left;
  background-color: var(--dark-grey-color);
}

.svg-pequeño {
  position: absolute;
  right: 1em;
  top: 50%;
  height: 1em;
  fill: white;
  transform: translateY(-50%);
  transition: 300ms;
}

.svg-pequeño.svg-pequeño--panel-cerrado {
  transform: translateY(-50%) rotate(-45deg);
  transition: 300ms;
}

.faq__respuesta {
  text-align: center;
  background: var(--dark-grey-color);
}

.faq__respuesta.faq__respuesta--cerrada {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}


.faq__respuesta.faq__respuesta--abierta {
    max-height: 1200px;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }

  .cta{
    margin: var(--margin-center);
    width: 90%;
    padding: 30px;
  }

