/* VARIABLES */
:root {
  --blue-color: #175a91;
  --white-color: #ffffff;
  --black-color: #464646;
  --grey-color: #666;
  --purple-color: #7257fa;
  --white-2-color: #ccc;
  --font-size: 14px;
  --font-size-m: 18px;
  --font-size-l: 27px;
  --font-size-xl: 42px;
  --font-size-xxl: 58px;
  --mobile-font-size-m: 18px;
  --mobile-font-size-l: 20px;
  --mobile-font-size-xl: 32px;
  --mobile-font-size-xxl: 32px;
}
/* GENERICOS */
* {
  margin: 0;
  font-weight: normal;
  color: var(--grey-color);
  font-size: var(--font-size);
  font-family: "ABeeZee", sans-serif;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.text {
  font-size: var(--font-size);
}

.text--m {
  font-size: var(--font-size-m);
}
.text--l {
  font-size: var(--font-size-l);
}
.text--xl {
  font-size: var(--font-size-xl);
}
.text--xxl {
  font-size: var(--font-size-xxl);
  font-weight: 600;
  margin: 0;
}
.text--center {
  text-align: center;
}
.text--300 {
  font-weight: 300;
}
.text--600 {
  font-weight: 600;
}
.text--purple {
  color: var(--purple-color);
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin: 20px 50px 20px 50px;
  background-color: white;
  justify-content: center;
  max-width: 1350px;
}

.product__images {
  display: flex;
  width: 33%;
  padding-right: 30px;
}

.image {
  display: flex;
  overflow: hidden;
  width: 100%;
}

img {
  object-fit: scale-down;
  width: 100%;
}

.product__detail {
  width: 33%;
  padding: 50px;
}

.product__header {
  padding-bottom: 20px;
}

.product__header h1 {
  color: var(--black-color);
  font-size: var(--font-size-m);
  padding-bottom: 5px;
  font-weight: bold;
}

.product__header h2 {
  font-size: var(--font-size);
  padding-bottom: 5px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.product__price div {
  padding-bottom: 5px;
  font-weight: bold;
}

.product__options {
  display: grid;
}

.product__color {
  display: inline-block;
  padding-top: 15px;
}

.colors {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  justify-content: flex-start;
}

.colors__option {
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0 0px 4px 0;
  padding: 2px;
  border-radius: 4px;
}
.selected {
  border: 2px solid var(--purple-color);
}

.color {
  width: 100%;
  height: 100%;
}

.product__size {
  display: inline-block;
  padding-top: 15px;
}

.product__size__selected {
  display: inline;
}

.product__size__converter span {
  color: var(--purple-color);
}

.sizes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sizes li {
  margin-right: 15px;
}

.product__design {
  display: inline-block;
  padding-top: 15px;
}

.designs {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  justify-content: flex-start;
}

.designs__option {
  align-items: center;
  width: 100px;
  margin: 0 0px 4px 0;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  width: 30%;
}

.designs__option img {
  width: 100%;
  height: 100%;
}
.hidden {
  display: none !important;
}
.visible {
  display: grid !important;
}

/*ORDEN*/
.product__order {
  width: 33%;
  display: flex;
  padding-top: 12px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0 35px 0;
  border-radius: 4px;
  border: 1px solid var(--white-2-color);
  box-sizing: border-box;
}
input[type="submit"] {
  padding: 15px 70px;
}
input[type="number"] {
  /* padding: 5px 10px; */
  width: 50%;
  border-radius: 4px;
  border: 1px solid var(--white-2-color);
  box-sizing: border-box;
  height: 35px;
}
.container--center {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.order-description {
  border: 1px solid var(--purple-color);
  padding: 30px;
  border-radius: 10px;
}
.order-description p {
  color: var(--gray-2-color);
  font-size: var(--font-size-m);
  padding-bottom: 30px;
}
.order-description h3 {
  color: var(--purple-color);
  font-size: var(--font-size-l);
  margin: 10px 0;
}
.button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 25px 40px;
  border-radius: 50px;
  border: none;
  font-size: var(--font-size-m);
}
.container--product-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, 100px);
  grid-column-gap: 10px;
}
.container--description {
  display: flex;
  flex-flow: column wrap;
  padding-top: 15px;
}

/*SECTION*/
.who-we-are-section .payment-section {
  padding: 100px;
}
.box {
  max-width: 900px;
}
.container-payment {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, 1fr);
  column-gap: 40px;
  row-gap: 20px;
}

.payment-description {
  /*border: 1px solid var(--purple-color);*/
  padding: 10px;
  justify-items: start;
}
.payment-description p {
  color: var(--gray-2-color);
  font-size: var(--font-size);
  padding-bottom: 10px;
}
.payment-description h3 {
  color: var(--purple-color);
  font-size: var(--font-size-m);
  margin: 10px 0;
}
.container--between {
  display: grid;
  justify-content: space-between;
}
.payment-description--total {
  display: grid;
  align-content: center;
  justify-content: end;
  justify-items: end;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
}


.text--purple-color{
  color: var(--purple-color);
}
.return {
}

.padding {
  padding: 10px;
}
.product__selected {
  text-align: center;
}

.product__selected h1 {
  color: var(--purple-color);
  font-weight: bold;
  font-size: var(--mobile-font-size-xl);
}
.product__selected p {
  color: var(--black-color);
  font-size: var(--font-size-m);
}
/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

@media only screen and (max-width: 800px) {
  body {
    margin: 10px 20px 0px 10px;
  }

  .container {
    display: flex;
    flex-flow: column wrap;
  }

  .product__images {
    width: 100%;
  }

  .product__detail {
    width: 100%;
    padding: 10px 0px 0px 0px;
  }

  .product__order {
    width: 100%;
  }

  input[type="number"] {
    width: 100%;
    height: 30px;
  }

  .container-payment {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
  }

  .payment-description h3 {
    margin: 0;
  }
}

/* @media only screen and (max-width: 450px) {
} */
