/* VARIABLES */
:root {
  --black-color: #464646;
  --grey-color: #666;
  --purple-color: #7257fa;
  --font-size: 14px;
  --font-size-m: 18px;
  --font-size-l: 27px;
  --font-size-xl: 42px;
  --font-size-xxl: 58px;
  --mobile-font-size-m: 18px;
  --mobile-font-size-l: 20px;
  --mobile-font-size-xl: 32px;
  --mobile-font-size-xxl: 32px;
}
/* GENERICOS */
* {
  margin: 0;
  font-weight: normal;
  color: var(--grey-color);
  font-size: var(--font-size);
  font-family: "ABeeZee", sans-serif;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin: 20px 50px 20px 50px;
  background-color: white;
  justify-content: center;
  width: 800px;
}

.product__images {
  display: flex;
  width: 50%;
  padding-right: 30px;
}

.image {
  display: flex;
  overflow: hidden;
  width: 100%;
}

img {
  object-fit: scale-down;
  width: 100%;
}

.product__detail {
  width: 50%;
}

.product__header {
  padding-bottom: 20px;
}

.product__header h1 {
  color: var(--black-color);
  font-size: var(--font-size-m);
  padding-bottom: 5px;
  font-weight: bold;
}

.product__header h2 {
  font-size: var(--font-size);
  padding-bottom: 5px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.product__price div {
  padding-bottom: 5px;
  font-weight: bold;
}

.product__options {
  display: grid;
}

.product__color {
  display: inline-block;
  padding-top: 15px;
}

.colors {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  justify-content: flex-start;
}

.colors__option {
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0 0px 4px 0;
  padding: 2px;
  border-radius: 4px;
}
.selected {
  border: 2px solid var(--purple-color);
}

.color {
  width: 100%;
  height: 100%;
}

.product__size {
  display: inline-block;
  padding-top: 15px;
}

.product__size__selected {
  display: inline;
}

.product__size__converter span {
  color: var(--purple-color);
}

.sizes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sizes li {
  margin-right: 15px;
}

.product__design {
  display: inline-block;
  padding-top: 15px;
}

.designs {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  justify-content: flex-start;
}

.designs__option {
  align-items: center;
  width: 100px;
  margin: 0 0px 4px 0;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  width: 30%;
}

.designs__option img {
  width: 100%;
  height: 100%;
}
