:root {
  --color-primary : #522377;
  --color-secondary   : #b9315a;
}


body {
  font-family: "ABeeZee", sans-serif;
  font-size: 14px;
  color: white;
}

a {
  text-decoration: none;
}


header  {
  position: relative;
  z-index: 2;
}

nav {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 0px 10px 0px 10px;
  border: 2px var(--color-primary);
  border-style: dotted;
}

footer{
  height: 150px;
  background-color: var(--color-primary);
  box-sizing: border-box;
  padding-top: 20px;
  color: white;

}

/*HEADER*/

.header__logo{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 200px;
  margin: 5px 0px 0px 5px;
}

.form {
  border-color: var(--color-primary);
  font-family: "ABeeZee", sans-serif;
  height: 40px;
  width: 200px;
  padding: 5px;
  border-width: 1px;
  border-radius: 5px;
}

.form__country{
  margin-right: 5px;
}

.form__search{
  margin-right: 5px;
}

.button {
  color: var(--white-color);
  background-color: var(--color-secondary);
  
}

.button__search {
  display: inline-block;
  height: 50px;
  width: 100px;
  border-width: 1px;
  border-radius: 5px;
}


/* START BACKGROUD*/

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250px;
}

.background__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background--degradado {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

/* END BACKGROUD*/

/*FOOTER*/
.socialnetworks{
  height: 50%;
  text-align: center;

}

.socialnetworks img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.socialnetworks img:hover{
  background-color: white;
}
.copyright{
  height: 50%;
  text-align: center;
}