:root {
  --color-text-black: #3c4043;
  --color-text-grey: #70757a;
  --color-text-blue: #1a0dab;
  --color-background-footer: #70757a;
  --color-background-button: #f8f9fa;
}

body {
  height: 100%;
  margin: 0px 10px;
    /*color: #202124;*/
  color: #bdc1c6;
  background: #ffffff;
}

footer {
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
  width: 100%;
}
.center {
  text-align: center;
}

.header {
  position: relative;
  text-align: right;
  height: 60px;
  padding-right: 18px;
  padding-top: 6px;
}

.menu {
  position: relative;
  display: inline-block;
  text-align: right;
  margin-right: 30px;
}

.menu__option {
  display: inline-block;
  padding-left: 15px;
}

.menu__option a {
  display: inline-block;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  height: 40px;
}

.menu__option a:hover {
  text-decoration: underline;
}

.session {
  position: relative;
  display: inline-block;
  text-align: right;
}
.session img {
  border-radius: 50%;
  padding-top: 4px;
  padding-left: 4px;
}

.session__circle {
  position: absolute;
}

.products {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.products__icon svg {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-right: -50px;
}

.products__icon {
  position: absolute;
  height: 40px;
  width: 40px;
}

/*BÚSQUEDA*/

.row__search {
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
  margin-top: 21px;
}

.search__icon {
  display: inline-block;
  position: relative;
  height: 44px;
  width: 44px;
  box-sizing: content-box;
}

.search__icon svg {
  position: absolute;
  height: 20px;
  width: 20px;
  padding-top: 13px;
  padding-left: 15px;
}

.search__text {
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  height: 44px;
  width: 80%;
}

.search__text input {
  border: none;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.87);
  outline: none; /*Quita el borde cuando tiene el foco*/
  height: 34px;
  font-size: 16px;
  position: absolute;
  width: 100%;
}

.search__voice {
  display: inline-block;
  position: relative;
  height: 44px;
  width: 44px;
  box-sizing: content-box;
  margin-left: 15px;
}

.search__voice svg {
  position: absolute;
  height: 24px;
  width: 24px;
  padding-top: 10px;
  padding-left: 15px;
}

.search__button {
  padding-top: 18px;
}

.row__languages {
  color: #4d5156;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: small;
}

.row__languages a{
  text-decoration: none;
}

input[type="submit"] {
  background-color: var(--color-background-button);
  border: 1px solid var(--color-background-button);
  border-radius: 4px;
  color: var(--color-text-black);
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  cursor: pointer;
}

input[type="submit"]:hover {
  border-color: #70757a3d;
}

.country {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  color: #70757a;
  font-size: 14px;
  font-family: arial, sans-serif;
}

.submenu__container {
  position: relative;
  display: inline-block;
  padding-left: 15px;
}

.submenu {
  color: #70757a;
  padding: 15px;
  font-size: 14px;
  font-family: arial, sans-serif;
  display: inline-block;
}

.settings__container {
  position: absolute;
  right: 25px;
  display: inline-block;
}

.settings {
  color: #70757a;
  padding: 15px;
  font-size: 14px;
  font-family: arial, sans-serif;
  display: inline-block;
}

footer a {
  text-decoration: none;
  color: #70757a;
  display: inline-block;
}


/*****************  FLOATING BUTTON START  *****************/
.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: black;
  padding: 18px 30px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
  display: none;
}

.btn-flotante:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  color: black
}
/*****************  FLOATING BUTTON END  *****************/
