/* VARIABLES */
:root {
  --background-color: #141d30;
  --background-container-color: #1f2a48;
  --button-color: #0079ff;
  --text-white-color: #fff;
  --text-grey-color: #8e97ac;
  --text-grey-color-2: grey;
}
/* GENERICOS */
* {
  margin: 0;
  font-family: Roboto, "Open Sans", sans-serif;
  box-sizing: border-box;
  color: var(--text-white-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

::placeholder {
  color: var(--text-grey-color);
}

.container {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.section__search {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: var(--background-container-color);
  height: 60px;
  justify-content: center;
  text-align: center;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.input__container {
  display: flex;
  width: 75%;
  height: 100%;
}

.input__container input {
  width: 100%;
  color: var(--text-white-color);
  font-size: 16px;
  height: 100%;
  border: 0px;
  background-color: var(--background-container-color);
}

.input__container span {
  margin-top: 12px;
  margin-right: 15px;
  color: var(--button-color);
}

.input__container input {
  border: 0px;
  outline: none;
}

.button__container {
  width: 80px;
  height: 100%;
}

.button__container button {
  width: 100%;
  background-color: var(--button-color);
  height: 100%;
  border-radius: 5px;
  border: 0px;
}

.section__user {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--background-container-color);
}

/* AVATAR */
.section__user__avatar {
  min-width: 150px;
  margin: 10px;
}

.section__user__avatar div {
  display: flex;
  text-align: center;
  justify-content: center;
}

.section__user__avatar img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

/* USER INFO*/
.section__user__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.user__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__name h1 {
  font-weight: bold;
  font-size: 25px;
}

.user__name span {
  font-size: 14px;
  color: var(--text-grey-color);
}

.user__login a {
  display: inline-block;
  margin-top: 5px;
  font-size: 15px;
  color: var(--button-color);
}

.user__bio p {
  margin-top: 20px;
  font-size: 15px;
  color: var(--text-grey-color);
}

.user__statistics {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--background-color);
  padding: 12px 25px 12px 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.user__box__statistics {
  width: 100px;
  display: flex;
  flex-direction: column;
}

.user__box__statistics strong {
  font-weight: normal;
  font-size: 15px;
  color: var(--text-grey-color);
  padding-bottom: 5px;
}

.user__box__statistics span {
  font-weight: bold;
  font-size: 20px;
}

.user__additional__information {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 50fr 50fr;
}

.user__additional__information div i {
  width: 20px;
}

.user__additional__information .box__info {
  font-weight: normal;
  font-size: 15px;
  color: var(--text-grey-color) !important;
  padding-left: 10px;
}

.section__no__data {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--background-container-color);
  justify-content: center;
}

.section__no__data p {
  font-weight: normal;
  font-size: 15px;
  color: var(--text-grey-color) !important;
  padding-left: 10px;
}

.hidden {
  display: none !important;
}

/* Tamaño teléfonos (480-menos ) */
@media all and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .section__user {
    flex-direction: column;
    padding: 30px;
  }
}

@media all and (max-width: 450px) {
  .container {
    width: 100%;
  }

  .section__user__info {
    align-items: center;
    margin: 0px;
  }
  .user__additional__information {
    grid-template-columns: 100fr;
    width: 100%;
  }

  .user__statistics {
    /* flex-direction: row; */
    width: 100%;
    align-items: center;
    text-align: center;
    /* row-gap: 20px; */
  }

  .user__bio .user__login .user__name {
    width: 100%;
  }

  .section__user__avatar {
    margin: 0px;
  }

  .user__name {
    flex-direction: column;
  }
}
